body {
  color: $font-color;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
}

ol,
ul {
  list-style: none;
}

* {
  font-family: $font-family;
}
