$font-family: "Jost";
$font-title: "Montserrat";
$font-family-Jost: "Jost", sans-serif;
$font-family-M: "Montserrat", sans-serif;
$font-family-N: "Nunito", sans-serif;

//<----COLOR------->
$colorLink: rgb(201, 86, 86);
$colorBoxShadowPhot: 0px 0px 12px 4px #bea5a5;
$colorFooterText: gray;
$colorMenu-H: rgb(37, 26, 77);
$color-li: rgb(240, 231, 231);
$color-li-hover: rosybrown;
$colorMenu-a: rgb(95, 52, 52);
$color-w: white;
$colorChecked: #3f3c3c;
$color-background: rgba(255, 255, 255, 0.726);
$background-Bd: rgb(241, 232, 220);
$color-bg: #c95656;
$color-line: rgba(240, 174, 174, 0.315);
$color-giro0: rgba(240, 221, 203, 0.89) 0%;
$color-giro01: rgba(235, 209, 209, 0.623) 100%;
$color-giro1: rgba(238, 209, 181, 0.397) 0%;
$color-giro1-1: rgba(216, 172, 172, 0.5) 100%;
$colorBoxName: rgba(204, 15, 15, 0.712);
$color-btnGo: rgb(83, 29, 29);
$background-colorSlider: #ccc;
$background-panel: rgb(236, 158, 158);
$colorClose: pink;
$color-Flower: rgba(243, 227, 227, 0.698);
$colorCloseBtn: rgba(0, 0, 0, 0.171);
$colorHoverNav: rgba(0, 0, 0, 0.096);
$colorBl: black;
$colorSolid: rgba(240, 174, 174, 0.493);
$background-ColorBody: rgba(235, 211, 186, 0.616);
