$font-family: "Jost";
$font-title: "Montserrat";
$font-family-Jost: "Jost", sans-serif;
$font-family-M: "Montserrat", sans-serif;
$font-family-N: "Nunito", sans-serif;

//<----COLOR------->
$colorLink: rgb(201, 86, 86);
$colorBoxShadowPhot: 0px 0px 12px 4px #bea5a5;
$colorFooterText: gray;
$colorMenu-H: rgb(37, 26, 77);
$color-li: rgb(240, 231, 231);
$color-li-hover: rosybrown;
$colorMenu-a: rgb(31, 27, 27);
$color-w: white;
$colorChecked: #3f3c3c;
$color-background: rgba(255, 255, 255, 0.726);
$background-Bd: rgb(241, 232, 220);
$color-bg: #c95656;
$color-line: rgba(240, 174, 174, 0.315);
