.btnbox {
    padding-top: 0.5rem;
    padding-right: 1rem;

}

.btnE{
  color: rgb(191, 187, 194);
   margin-right: 1rem;
   border: none;
   border-radius: 50%;
   height: 1.5rem;
   width: 1.6rem;
   background-color: #3498db;
   cursor: pointer;


   & span {
   font-size: 0.8rem;
   }
}

.btnS{
 color: rgb(191, 187, 194);
   font-size: 1rem;
   border: none;
   border-radius: 50%;
   height: 1.5rem;
   width: 1.6rem;
   background-color: #3498db;
   font-size: 0.8rem;
}

.btnE:hover {
    color: transparent;
    background-image: linear-gradient(to left, #FFD700, #7B68EE, #3498db, #2ecc71, #FFD700);    
    background-clip: text;
    animation: color 3s linear infinite;
    background-size: 500%;
    border:1px solid rgb(63, 123, 253);
}


.btnS:hover {
    color: transparent;
    background-image: linear-gradient(to left, #FFD700, #7B68EE, #3498db, #2ecc71, #FFD700);    
    background-clip: text;
    animation: color 3s linear infinite;
    background-size: 500%;
    border:1px solid rgb(63, 123, 253);
}
