.btnbox {
    padding-top: 0.5rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: right;
   align-items: center;

}

.btnE{
    margin-right: 0.5rem;
   cursor: pointer;
   background-color: rgb(77, 74, 74);
   border: none;
  display: flex;
 justify-content: center;
 align-items: center;
 height: 1.5rem;
    width: 1.5rem;
}

.photoSp {
    height: 2.7rem;
    width: 2.7rem;  
}

.photoUk {
    height: 2rem;
    width: 2rem;  
}


.btnU{
   border: none;
   border-radius: 50%;
   height: 1.3rem;
   width: 1.3rem;
   background-color: white;
  display: flex;
 justify-content: center;
 align-items: center;
}

.btnE:hover {
    border:1px solid rgb(63, 123, 253);
    border-radius: 50%;
   
}


.btnU:hover {
    border:1px solid rgb(63, 123, 253);
    border-radius: 50%;
   
}
