@import "../../../styles/core/variables";
@import "../../../styles/core/mixins";

.container {
  text-align: center;
  background-color: $color-background;
  border: 1px solid $colorSolid;
  height: 33rem;

  @media all and (min-width: 768px) {
    margin: 2rem;
    padding: 1rem;
  }
}

.img {
  height: 15rem;
}

.title {
  font-size: 1rem;
  font-family: $font-title;
}

.subTitle {
  font-size: 0.9rem;
  font-family: $font-family-N;
  padding-left: 0.5rem;
  padding-right: 0.5rem;

  @media all and (min-width: 768px) {
    padding-left: 0;
    padding-right: 0;
  }
}

.tools {
  font-size: 0.9rem;
  font-family: $font-title;
}

.codeBox {
  text-decoration: none;
  padding-bottom: 1rem;
}

.codeGit {
  margin-right: 1rem;
  font-size: 1.5rem;
  color: $colorLink;
}

.codePage {
  color: $colorLink;
  font-size: 1.3rem;
}
