@import "../../styles/core/variables";
@import "../../styles/core/mixins";

.headerBox {
  color: black;
 // background-image: url("../../images/hero_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  
}

.hero {
  
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100vh;
  background: radial-gradient(circle, gray);
  position: relative;
  min-height: 34rem;

  @media all and (min-width: 768px) {
    min-width: 60rem;
    margin-top: 0;
    flex-direction: row;
    margin: 0 0 0 1rem;
   
  }
 
}


.titlePicture{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.job{
  width: 48%;
}
.titlename{
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  //margin-bottom: 4rem;


  @media all and (min-width: 768px) {
    flex-direction: row;
    align-items: center;
   margin-right: 2rem;

    
  }

} 
.webTitle{
  font-size: 1.2rem;
}


.title {  
  margin-top: 0;
  padding-top: 1rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-family: $font-title;
  color: transparent;
  background-image: linear-gradient(to left, #FFD700, #7B68EE, #3498db, #2ecc71, #FFD700);    
  background-clip: text;
  animation: color 3s linear infinite;
  background-size: 500%;  

  @media all and (min-width: 768px) {
    font-size: 3rem;
     height: 2rem;
  }


}

@keyframes color {
  from {
      background-position: 0% 50%;
  }

  to {
      background-position: 100% 50%;
  }
}


.photo {
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
  margin-left: 8rem;
  
}


.descript{
  display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   @media all and (min-width: 768px) {
    margin-right: 5rem;
    margin-left: 1rem;
  }
}
.description {
  font-family: $font-family;
  font-size: 1.1rem;
}

.job {
  font-family: $font-family;
  font-size: 0.95rem;
  font-family: 'Open Sans';
  width: 27.5rem;
}



@keyframes down {
  0% {
    transform: translateY(-20%);
  }

  100% {
    transform: translateY(0%);
  }
}
