@import "../../styles/core/variables";
@import "../../styles/core/mixins";

.headerBox {
  color: black;
  background-image: url("../../images/hero_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: 100vh;
  background: radial-gradient(circle, $color-giro0, $color-giro01);
  position: relative;
  min-height: 34rem;

  @media all and (min-width: 768px) {
    background: radial-gradient(circle, $color-giro1, $color-giro1-1);
  }

  @media all and (min-width: 768px) {
    height: 100vh;
  }
}

.title {
  margin-top: 0;
  font-size: 2rem;
  font-family: $font-title;
}
.photo {
  height: 160px;
  border-radius: 50%;
  box-shadow: $colorBoxShadowPhot;
}

.code {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  & i {
    color: $colorBoxName;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 1rem;
  }
}

.name {
  margin: 0;
  font-size: 1.5rem;
  font-family: $font-family;
}

.description {
  font-family: $font-family;
  text-align: center;
  padding: 0 1rem;
  font-size: 1.1rem;
  max-width: 40rem;
}

.job {
  font-family: $font-family;
  font-size: 1.3rem;
  padding-top: 1.3rem;
}

.btnGoDown {
  position: absolute;
  bottom: 0.5rem;
  padding-top: 2rem;
  font-size: 1.5rem;
  color: $color-btnGo;
  animation: down 0.5s alternate infinite ease-in;
}

@keyframes down {
  0% {
    transform: translateY(-20%);
  }

  100% {
    transform: translateY(0%);
  }
}
