@import "../../styles/core/variables";
.box{
  width: 100%;
  background-color: rgb(77, 74, 74);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  text-align: right;
}


.linksBox { 
  display: flex;
  flex-direction: row;
  justify-content: right;
  font-size: 1.3rem;

  @media all and (min-width: 768px) {
    font-size: 1rem;
  }

  @media all and (max-width: 653px) {
    font-size: 0.7rem;
   
  }
 
  
  

  & a {
    text-decoration: none;
    color:  #3498db;
    padding: 0.3rem;
    
   

    @media all and (min-width: 768px) {
      font-size: 1rem;
      padding: 0.5rem;
    }
  }

  
  & a:hover {
    color: transparent;
    background-image: linear-gradient(to left, #FFD700, #7B68EE, #3498db, #2ecc71, #FFD700);    
    background-clip: text;
    animation: color 3s linear infinite;
    background-size: 500%;

  }
  @keyframes color {
    from {
        background-position: 0% 50%;
    }
  
    to {
        background-position: 100% 50%;
    }
  }
  & span:hover {
    color: transparent;
    background-image: linear-gradient(to left, #FFD700, #7B68EE, #3498db, #2ecc71, #FFD700);    
    background-clip: text;
    animation: color 3s linear infinite;
    background-size: 500%;

  }
  
}


.linksBox .click {
  color: transparent;
    background-image: linear-gradient(to left, #FFD700, #7B68EE, #3498db, #2ecc71, #FFD700);    
    background-clip: text;
    animation: color 3s linear infinite;
    background-size: 500%;
}

