@import "../../styles/core/variables";


.tols { 
  display: flex;
  flex-direction: row;
  background-color: rgb(77, 74, 74);
  max-width: 100%;

}

.linksBox {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: right;
  width: 100%;
  background-color: rgb(77, 74, 74);
  font-size: 0.7rem;

  @media all and (min-width: 768px) {
    font-size: 1rem;
  }

  

  & a {
    text-decoration: none;
    color:  #3498db;
    padding: 0.3rem;
   

    @media all and (min-width: 768px) {
      font-size: 1rem;
      padding: 0.5rem;
    }
  }

  
  & a:hover {
    color: #ffffff; 
  }

  & span:hover {
    color: #ffffff; 
    border-bottom-color: #ffffff; 

  }
  
}


.linksBox .click {
  color: white;
}

