@import "../../styles/core/variables";

.menu {
  position: fixed;
  font-size: 1.5rem;
  color: $colorMenu-a;
  padding: 0.5rem 0.5rem;
  cursor: pointer;

  &:hover {
    color: $color-bg;
  }

  @media all and (min-width: 768px) {
    padding: 0.7rem 1.6rem;
    font-size: 2rem;
  }
}

.panel {
  position: fixed;
  top: 0;
  left: 0;
  width: 15rem;
  background-color: $background-panel;
  height: 100vh;
  z-index: 2;
  font-family: $font-family-N;
}

.closeBtn {
  cursor: pointer;
  padding: 1rem;
  float: right;
  color: $color-w;
}

.closed {
  color: $colorClose;
  margin-left: 2px;
  padding-left: 10px;
}

.linksBox {
  line-height: 50px;
  padding: 0;
  margin-top: 5rem;

  & a {
    text-decoration: none;
    color: $colorMenu-a;
  }

  & li {
    width: 100%;
    font-size: 1.1rem;
    border-bottom: 0.1rem solid transparent;

    // font-weight: bold;

    @media all and (min-width: 768px) {
      font-size: 1.2rem;
    }
  }

  & li:hover {
    background-color: $colorHoverNav;
    color: $color-w;
  }

  & li i {
    width: 3rem;
    text-align: center;
    font-size: 1.3rem;
    padding-right: 1.4rem;

    @media all and (min-width: 768px) {
      font-size: 1.5rem;
    }
  }
}

.shield {
  background-color: colorCloseBtn;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1;
}

.flower {
  padding-right: 2.3rem;
  margin-top: 8rem;
  text-align: center;

  & i {
    font-size: 10rem;
    color: $color-Flower;
  }
}
