@import "../../../styles/core/variables";

.wrapper {
  text-align: center;
}

.msg {
  font-size: 1rem;
  margin-bottom: 2rem;
  font-family: $font-family-N;
  margin-right: 0.3rem;
}
.contact{
  margin-left: 0.5rem;
  font-weight: bold;
  font-family: $font-family-N;
  font-size: 1rem;
}
.btn {
  text-decoration: none;
  font-family: $font-family-N;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  background-color: $colorLink;
  font-size: 0.9rem;
  border-radius: 0.3rem;

  &:hover {
    color: $color-bg;
    background-color: $color-w;
  }
}
