@import "../../../styles/core/variables";

.boxContact {
  position: fixed;
  bottom: 15rem;
  right: 0.1rem;
  z-index: 1;
  display: flex;
  flex-direction: column;

  @media all and (max-width: 667px) {
    bottom: 6rem;
    right: 0;
  }

  @media all and (min-width: 768px) {
    top: 3;
    right: 3rem;
  }

  & a {
    text-decoration: none;
    color: #3498db;
    font-size: 1.2rem;
    margin: 1rem;

    @media all and (min-width: 768px) {
      font-size: 1.5rem;
    }
  }

  & i {
    text-decoration: none;
  }

  & :hover {
    color: white;
  }
}
