@import "../../../styles/core/variables";

.boxContact {
  position: fixed;
  top: 3;
  right: 3rem;
  z-index: 1;
  display: flex;
  flex-direction: column;

  & a {
    text-decoration: none;
    color: cornflowerblue;
    font-size: 1.5rem;
    margin: 1rem;
  }

  & i {
    text-decoration: none;
  }

  & :hover {
    color: white;
  }
}
