@import "../styles/core/variables";

.photo {
  height: 200px;
  border-radius: 5px;
  box-shadow: $colorBoxShadowPhot;
  text-align: center;
}

.description {
  text-align: center;
  line-height: 30px;
  font-size: 20px;
  padding: 0 1rem;
  font-family: $font-family-Jost;
}

.boxContact {
  display: flex;
  flex-direction: row;

  @media all and (min-width: 768px) {
    flex-direction: column;
    position: fixed;
    z-index: 1;
    top: 4%;
    right: 20px;
  }
}

.nav {
  color: black;
  font-size: 1rem;
  margin: 0 auto;

  @media all and (min-width: 768px) {
    font-size: 1.5rem;
  }
}
