@import "../styles/core/variables";
.photo {
  height: 200px;
  border-radius: 5px;
  box-shadow: $colorBoxShadowPhot;
  text-align: center;
}

.container {
  text-align: center;
}

.description {
  text-align: center;
  line-height: 30px;
  font-size: 20px;
  padding: 0 1rem;
  font-family: $font-family-Jost;
  // font-family: "Montserrat", sans-serif;
  // font-family: "Nunito", sans-serif;
  // font-family: "Source Sans Pro", sans-serif;
}
.title {
  text-align: center;
  font-size: 35px;
  font-family: $font-family;
}

.boxTo {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 1;
  top: 2.5%;
  right: 20px;
  line-height: 25px;
}
