@import "../styles/core/variables";

.footer {
  border-top: solid 1px $color-line;
  width: 100%;
  text-align: right;
  position: fixed;
  bottom: 0;
  right: 0;
  background-image: linear-gradient( rgb(73, 72, 72), rgb(107, 99, 107));

 
}

.by{
  padding-right: 1rem;
  color: transparent;
  background-image: linear-gradient(to left, #00b7ff, #7B68EE, #3498db, #2ebacc, #006eff);    
  background-clip: text;
  animation: color 3s linear infinite;
  background-size: 500%; 
}

@keyframes color {
  from {
      background-position: 0% 50%;
  }

  to {
      background-position: 100% 50%;
  }
}

 .heart {
    color: rgb(154, 170, 204);
  }