@import "../styles/core/variables";
@import "../styles/core/mixins";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
  padding: 1rem;
  background-color: $color-background;
  font-size: 12px;
  margin-bottom: 20px;
  @include bg-boxShadowImg;
}

.img {
  height: 15rem;
  line-height: 20px;
  align-items: center;
}

.title {
  font-size: 1rem;
  font-family: $font-title;
}

.subTitle {
  font-size: 0.9rem;
  font-family: $font-family-N;
}

.codeBox {
  text-decoration: none;
}

.codeGit {
  margin-right: 5rem;
  font-size: 1.03rem;
  color: $colorLink;
}

.codePage {
  color: $colorLink;
  font-size: 0.8rem;
}
