.box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  row-gap: 1rem;
  margin: 0 auto;
  align-items: center;

  @media all and (min-width: 768px) {
    grid-template-columns: repeat(4, 1fr);
    row-gap: 5rem;
  }
}

.image {
  width: 3rem;

  @media all and (min-width: 768px) {
    width: 5rem;
  }
}

.item {
  text-align: center;
}
