@import "../src/styles/core/variables";

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.5rem;
  background-color: rgb(251, 251, 251);
  background-image: linear-gradient( rgba(73, 72, 72, 0.884), rgb(155, 114, 155));

/* background-color: rgba(240, 237, 237, 0.986);;
  background-image: linear-gradient( rgba(116, 114, 116, 0.884),rgba(177, 100, 177, 0.897), rgb(155, 114, 155));*/
  
}
