@import "../src/styles/core/variables";

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.5rem;
  background-color: rgba(17, 17, 17, 0.616);;
  background-image: linear-gradient( rgb(73, 72, 72), rgb(155, 114, 155));


  
}
